@using System.Web.Mvc.Html
@using FaraMedia.Data.Schemas.Layout
@using FaraMedia.Web.Framework.Mvc.UI
@using FaraMedia.Web.Framework.Routing
@using FaraMedia.Data.Schemas.Layout.Sections
@using FaraMedia.FrontEnd.Administration.GridModels.News
@using FaraMedia.Web.Framework.Mvc.Extensions
@using FaraMedia.Web.Framework.UI.DataPager
@using MvcContrib.UI.Grid
@model FaraMedia.Web.Framework.UI.DataPager.PagedList<FaraMedia.FrontEnd.Administration.Models.News.NewsModel>
@{
    Layout = "_NewsLayout.cshtml";
}
<div class="page-header">
    <h1>
        @Html.T(NewsSectionConstants.NewsController.List.Metadata.Title)
        <small>(@Html.LocalizedRouteLink(CrudSharedConstants.Commands.New, NewsSectionConstants.NewsController.New.RouteName, surroundUsing: null))</small>
    </h1>
</div>
@using (Html.Custom().BeginRouteForm(NewsSectionConstants.NewsController.List.RouteName)) {
    <div class="row">
        <div class="zebra-container center">
            @{
                Html.Grid(Model).WithModel(new NewsModelGrid(Html)).Render();
            }
            @Html.Pager(Model, NewsSectionConstants.NewsController.List.RouteName)
        </div>
    </div>
    if(!Model.IsEmpty()) {
         @Html.Partial("_ListActions")
    }
}