<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="FaraConfig" type="FaraMedia.Core.Configuration.FaraConfig, FaraMedia.Core"
                 requirePermission="false" />
    </configSections>
    <FaraConfig>
        <DynamicDiscovery Enabled="true" />
        <Engine Type="" />
        <Database ConnectionStringName="FaraMedia" ConfigurationCacheFileName="_AppCache/mappings.cfg" />
    </FaraConfig>
    <connectionStrings>
        <add name="FaraMedia"
             connectionString="Data Source=NETGUY-PC;Initial Catalog=FaraMedia.NH.Script;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>