<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="faraConfig" type="FaraMedia.Core.Configuration.FaraConfig, FaraMedia.Core" />
    <section name="bootstrapConfig" type="FaraMedia.Core.Configuration.BootstrapConfig, FaraMedia.Core" />
    <section name="sluggerConfig" type="FaraMedia.Core.Text.StringSlugger.SluggerConfig, FaraMedia.Core" />
    <section name="pageElementsConfig" type="FaraMedia.Web.Framework.UI.PageElementsConfig, FaraMedia.Web.Framework" />
    <section name="fixFarsiChars" type="FaraMedia.Web.Framework.Configuration.FixFarsiCharsConfigurationSection, FaraMedia.Web.Framework, Version=1.0.*, Culture=neutral" />
  </configSections>
  <faraConfig dynamicDiscovery="true" engine="" connectionStringName="FaraMedia" configurationCacheFileName="~/_AppCache/mappings.cfg" />
  <bootstrapConfig userName="sadegh" password="123" email="m.sadegh.sh@faramedia.com" />
  <sluggerConfig useLowerCase="True" removeNonWesternCharacters="True" trimMultipleSeparators="True" separator="-" />
  <pageElementsConfig ajaxLoadingElementId="ajax-activity-reflector" ajaxPlaceHolderElementId="placeholder" />
  <fixFarsiChars applyToForm="true" applyToCookie="true" applyToJson="true" applyToQueryString="true">
    <replacements>
      <add original="ي" replacement="ی" />
      <add original="ك" replacement="ک" />
    </replacements>
    <exceptions>
      <add prefix="__" />
    </exceptions>
  </fixFarsiChars>
  <connectionStrings>
    <add name="FaraMedia" connectionString="Data Source=NETGuy-PC;Initial Catalog=FaraMedia.NH.Script;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/authenticate/sign/in" timeout="2880" />
    </authentication>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Long" enabled="true" duration="600" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlNormalizerModule" />
      <remove name="HeaderCleanerModule" />
      <remove name="FixFarsiCharsModule" />
      <remove name="ResponseCompressorModule" />
      <remove name="ErrorsDetectionModule" />
      <add name="UrlNormalizerModule" type="FaraMedia.Web.Framework.Modules.UrlNormalizerModule, FaraMedia.Web.Framework" />
      <add name="HeaderCleanerModule" type="FaraMedia.Web.Framework.Modules.HeaderCleanerModule, FaraMedia.Web.Framework" />
      <add name="FixFarsiCharsModule" type="FaraMedia.Web.Framework.Modules.FixFarsiCharsModule, FaraMedia.Web.Framework" />
      <add name="ResponseCompressorModule" type="FaraMedia.Web.Framework.Modules.ResponseCompressorModule, FaraMedia.Web.Framework" />
      <add name="ErrorsDetectionModule" type="FaraMedia.Web.Framework.Modules.ErrorsDetectionModule, FaraMedia.Web.Framework" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.4000" newVersion="3.2.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>