@using System.Web.Mvc.Html
@using FaraMedia.Data.Schemas.Layout
@using FaraMedia.Web.Framework.Mvc.UI
@using FaraMedia.Web.Framework.Routing
@using FaraMedia.Data.Schemas.Layout.Sections
@using FaraMedia.FrontEnd.Administration.GridModels.Miscellaneous
@using FaraMedia.Web.Framework.Mvc.Extensions
@using FaraMedia.Web.Framework.UI.DataPager
@using MvcContrib.UI.Grid
@model FaraMedia.Web.Framework.UI.DataPager.PagedList<FaraMedia.FrontEnd.Administration.Models.Miscellaneous.RedirectorModel>
@{
    Layout = "_RedirectorsLayout.cshtml";
}
<div class="page-header">
    <h1>
        @Html.T(StatisticsSectionConstants.RedirectorsController.List.Metadata.Title)
        <small>(@Html.LocalizedRouteLink(CrudSharedConstants.Commands.New, StatisticsSectionConstants.RedirectorsController.New.RouteName, surroundUsing: null))</small>
    </h1>
</div>
@using (Html.Custom().BeginRouteForm(StatisticsSectionConstants.RedirectorsController.List.RouteName)) {
    <div class="row">
        <div class="zebra-container center">
            @{
                Html.Grid(Model).WithModel(new RedirectorModelGrid(Html)).Render();
            }
            @Html.Pager(Model, StatisticsSectionConstants.RedirectorsController.List.RouteName)
        </div>
    </div>
    if(!Model.IsEmpty()) {
         @Html.Partial("_ListActions")
    }
}