@using System.Web.Mvc.Html
@using FaraMedia.Data.Schemas.Layout
@using FaraMedia.Web.Framework.Mvc.UI
@using FaraMedia.Web.Framework.Routing
@using FaraMedia.Data.Schemas.Layout.Sections
@using FaraMedia.FrontEnd.Administration.GridModels.Fundamentals
@using FaraMedia.Web.Framework.Mvc.Extensions
@using FaraMedia.Web.Framework.UI.DataPager
@using MvcContrib.UI.Grid
@model FaraMedia.Web.Framework.UI.DataPager.PagedList<FaraMedia.FrontEnd.Administration.Models.Fundamentals.PublisherModel>
@{
    Layout = "_PublishersLayout.cshtml";
}
<div class="page-header">
    <h1>
        @Html.T(PublishersSectionConstants.FundamentalsController.List.Metadata.Title)
        <small>(@Html.LocalizedRouteLink(CrudSharedConstants.Commands.New, PublishersSectionConstants.FundamentalsController.New.RouteName, surroundUsing: null))</small>
    </h1>
</div>
@using (Html.Custom().BeginRouteForm(PublishersSectionConstants.FundamentalsController.List.RouteName)) {
    <div class="row">
        <div class="zebra-container center">
            @{
                Html.Grid(Model).WithModel(new PublisherModelGrid(Html)).Render();
            }
            @Html.Pager(Model, PublishersSectionConstants.FundamentalsController.List.RouteName)
        </div>
    </div>
    if (!Model.IsEmpty()) {
        @Html.Partial("_ListActions")
    }
}