@using FaraMedia.Data.Schemas.Layout
@using FaraMedia.Web.Framework.Mvc.Extensions
<div class="row">
    <div class="actions">
        <button type="submit" name="update" value="update" class="btn primary">@Html.T(CrudSharedConstants.Commands.Update)</button>
        <button type="submit" name="update" value="update-continue" class="btn primary">@Html.T(CrudSharedConstants.Commands.UpdateContinue)</button>
    </div>
</div>