@using FaraMedia.Data.Schemas.Layout
@using FaraMedia.Web.Framework.Mvc.Extensions
<div class="row">
    <div class="actions">
        <button type="submit" name="create" value="create" class="btn primary">@Html.T(CrudSharedConstants.Commands.Create)</button>
        <button type="submit" name="create" value="create-continue" class="btn primary">@Html.T(CrudSharedConstants.Commands.CreateContinue)</button>
    </div>
</div>