@using FaraMedia.Data.Schemas.Layout
@using FaraMedia.Web.Framework.Mvc.Extensions
<div class="row">
    <div class="actions">
        <button type="submit" name="save" value="save" class="btn primary">@Html.T(CrudSharedConstants.Commands.Save)</button>
        <button type="submit" name="save" value="save-continue" class="btn primary">@Html.T(CrudSharedConstants.Commands.SaveContinue)</button>
    </div>
</div>