@model IList<PublisherModel>
@{
    Layout = "~/Views/Shared/_MobileRoot.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Manufactures").Text);
}
@using Fara.Core;
@using Fara.Core.Infrastructure;
@using Fara.Web.Framework.UI;
@using Fara.Web.Models.Catalog;
<div class="publisherlist-page">
    <div class="page-title">
        <h1>@T("Publishers.List")</h1>
    </div>
    <div class="clear">
    </div>
    @if (Model.Count > 0)
    {
        <ul data-role="listview" data-inset="true" data-filter="false">
            @foreach (var item in Model)
            {
                <li><a href="@Url.RouteUrl("Publisher", new { publisherId = item.Id, SeName = item.SeName })">
                    @item.Name</a></li>
            }
        </ul>
    }
</div>
