@using FaraMedia.Data.Schemas.Layout.Sections
@using FaraMedia.Web.Framework.Mvc.Extensions
@using FaraMedia.Web.Framework.Routing
@using FaraMedia.Web.Framework.UI
@using FaraMedia.Data.Schemas.Root
@model string
@{
    Layout = "_ErrorsLayout.cshtml";
    Html.AddTitleParts(Html.T(RootSectionConstants.ErrorsController.NotFound.Metadata.Title));
    Html.AddBreadcrumbParts(Html.LocalizedRouteLink(RootSectionConstants.ErrorsController.NotFound.Metadata.Title, RootSectionConstants.ErrorsController.NotFound.RouteName));
}
<div class="page-header">
    <h1>
        @Html.T(RootSectionConstants.ErrorsController.NotFound.Metadata.Title)
        <small>(@Html.LocalizedBackToLink(RootSectionConstants.CommonController.Home.Metadata.Title, RootSectionConstants.CommonController.Home.RouteName, null))</small>
    </h1>
</div>
<p>@Html.Raw(Html.T(RootSectionConstants.ErrorsController.NotFound.Metadata.Description, Html.Encode(Model)))</p>